<header id="main-header">
  <div id="logo">
    <a href="/">My Logo</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/signup">Signup</a>
      </li>

      <li>
        <a href="/login">Home</a>
      </li>
      <li>
        <a href="/admin">Admin</a>
      </li>
      <li>
        <a href="/login">Logout</a>
      </li>
    </ul>
  </nav>
</header>
