<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head',{title:'Unauthorized Access!'}) %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Not Authenticated</h1>
      <p>Sorry You are not allowed to access this page</p>
      <a class="btn" href="/">back to safety</a>
    </main>
  </body>
</html>
